USE [CliniqueVeto]
GO
/****** Object:  Table [dbo].[Vaccins]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vaccins](
	[CodeVaccin] [uniqueidentifier] NOT NULL,
	[NomVaccin] [varchar](30) NOT NULL,
	[QuantiteStock] [int] NOT NULL,
	[PeriodeValidite] [int] NULL,
	[Archive] [bit] NOT NULL,
 CONSTRAINT [PK_Vaccins] PRIMARY KEY NONCLUSTERED 
(
	[CodeVaccin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Vaccins] ([CodeVaccin], [NomVaccin], [QuantiteStock], [PeriodeValidite], [Archive]) VALUES (N'de1d881e-1254-4ddc-97b0-8ff3e4767c46', N'Vache folle', 6, 12, 0)
INSERT [dbo].[Vaccins] ([CodeVaccin], [NomVaccin], [QuantiteStock], [PeriodeValidite], [Archive]) VALUES (N'f30bb17f-4c50-4f9a-9822-875729b44c34', N'ZK36', 15, 18, 0)
INSERT [dbo].[Vaccins] ([CodeVaccin], [NomVaccin], [QuantiteStock], [PeriodeValidite], [Archive]) VALUES (N'1578360b-a7cd-4fa1-98c4-9803a031c2aa', N'Rage', 0, 12, 0)
/****** Object:  Table [dbo].[Races]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Races](
	[Race] [varchar](20) NOT NULL,
	[Espece] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Races] PRIMARY KEY NONCLUSTERED 
(
	[Race] ASC,
	[Espece] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Races] ([Race], [Espece]) VALUES (N'Angora', N'Chat')
INSERT [dbo].[Races] ([Race], [Espece]) VALUES (N'Batard', N'Chien')
INSERT [dbo].[Races] ([Race], [Espece]) VALUES (N'Berger Allemand', N'Chien')
/****** Object:  Table [dbo].[Logins]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Logins__3214EC2738996AB5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Logins] ON
INSERT [dbo].[Logins] ([ID], [Login], [Password]) VALUES (1, N'test', N'test')
INSERT [dbo].[Logins] ([ID], [Login], [Password]) VALUES (2, N'BOSAPIN', N'PIN')
INSERT [dbo].[Logins] ([ID], [Login], [Password]) VALUES (3, N'DE CAJOU', N'NOIX')
SET IDENTITY_INSERT [dbo].[Logins] OFF
/****** Object:  Table [dbo].[Clients]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clients](
	[CodeClient] [uniqueidentifier] NOT NULL,
	[NomClient] [varchar](20) NOT NULL,
	[PrenomClient] [varchar](20) NOT NULL,
	[Adresse1] [varchar](30) NULL,
	[Adresse2] [varchar](30) NULL,
	[CodePostal] [char](6) NULL,
	[Ville] [varchar](25) NULL,
	[NumTel] [varchar](15) NULL,
	[Assurance] [varchar](30) NULL,
	[Email] [varchar](20) NULL,
	[Remarque] [text] NULL,
	[Archive] [bit] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY NONCLUSTERED 
(
	[CodeClient] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Clients] ([CodeClient], [NomClient], [PrenomClient], [Adresse1], [Adresse2], [CodePostal], [Ville], [NumTel], [Assurance], [Email], [Remarque], [Archive]) VALUES (N'dcef48b7-1460-4ea4-b619-6ae6e5986078', N'Dupond', N'Jean', N'20 rue de la paix', NULL, N'44000 ', N'Nantes', N'02.40.41.42.43', N'MAAF', N'JDupont@free.fr', NULL, 0)
INSERT [dbo].[Clients] ([CodeClient], [NomClient], [PrenomClient], [Adresse1], [Adresse2], [CodePostal], [Ville], [NumTel], [Assurance], [Email], [Remarque], [Archive]) VALUES (N'aad6a853-20a9-482e-9064-ec77751edb18', N'Durand', N'Albert', N'17 rue des pins', NULL, N'44300 ', N'La Baule', N'02.51.12.45.63', N'GMF', N'', NULL, 0)
INSERT [dbo].[Clients] ([CodeClient], [NomClient], [PrenomClient], [Adresse1], [Adresse2], [CodePostal], [Ville], [NumTel], [Assurance], [Email], [Remarque], [Archive]) VALUES (N'bb556151-0ab5-401d-b1db-0ca4db11c736', N'Dupond', N'Paul', N'22 rue de la mer', NULL, N'29000 ', N'Brest', N'02.99.27.45.62', N'MAIF', N'', NULL, 0)
/****** Object:  StoredProcedure [dbo].[ajout_vaccin]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'un vaccin      **********************************/
/***************************************************************************************/
/*	nom du vaccin
	periode de validite
	quantite en stock
*/
CREATE PROCEDURE [dbo].[ajout_vaccin] 
	@nomvaccin varchar(30),
	@periodevalidite int,
	@quantite int
 AS
insert into vaccins (CodeVaccin,nomvaccin,periodevalidite,quantitestock,archive) values(newid(),@nomvaccin,@periodevalidite,@quantite,0);
GO
/****** Object:  StoredProcedure [dbo].[ajout_race]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'un couple race/espece           *****************/
/***************************************************************************************/
CREATE PROCEDURE [dbo].[ajout_race] @race varchar(20),@espece varchar(20)
 AS
insert into races (race,espece) values(@race,@espece)
GO
/****** Object:  StoredProcedure [dbo].[ajout_login]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ajout_login]
    @login VARCHAR(30), 
    @password VARCHAR(20),
    @UserId int OUTPUT
AS
BEGIN
	INSERT INTO Logins (Login, Password) VALUES (@login, @password);        
	SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[ajout_client]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'un client ***************************************/
/***************************************************************************************/
/*	nom
	prenom
	adresse
	code postal
	ville
	tel
	assurance
	mail
	archive
*/
CREATE PROCEDURE [dbo].[ajout_client]  
	@nom varchar(20),
	@prenom varchar(20),
	@add varchar(30),
	@add2 varchar(30),
	@cp varchar(6),
	@ville varchar(25),
	@tel varchar(15),
	@ass varchar(30),
	@mail varchar(20),
	@arch int
AS
DECLARE @id uniqueidentifier;
SET @id = newid();
insert into clients (CodeClient,nomclient,prenomclient,adresse1,adresse2,codepostal,ville,numtel,assurance,email,archive) 
              values(@id,@nom,@prenom,@add,@add2,@cp,@ville,@tel,@ass,@mail,@arch);
SELECT @id;
GO
/****** Object:  Table [dbo].[Factures]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factures](
	[NumFacture] [uniqueidentifier] NOT NULL,
	[DateFacture] [datetime] NOT NULL,
	[CodeClient] [uniqueidentifier] NOT NULL,
	[TotalFacture] [money] NULL,
	[Archive] [bit] NOT NULL,
	[Etat] [int] NOT NULL,
	[RappelEnvoye] [datetime] NULL,
 CONSTRAINT [PK_Factures] PRIMARY KEY NONCLUSTERED 
(
	[NumFacture] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Factures] ([NumFacture], [DateFacture], [CodeClient], [TotalFacture], [Archive], [Etat], [RappelEnvoye]) VALUES (N'891e88f0-684a-4c7c-bf8d-ac9f5f5f77f5', CAST(0x0000A42F00A4CB80 AS DateTime), N'cb9398f9-3b49-4c9d-8e7e-71832d44ab88', 22.0000, 0, 2, NULL)
INSERT [dbo].[Factures] ([NumFacture], [DateFacture], [CodeClient], [TotalFacture], [Archive], [Etat], [RappelEnvoye]) VALUES (N'4c722da4-996f-4d67-b765-dc5f00766b8b', CAST(0x0000A39B00B54640 AS DateTime), N'1b4ac937-c4e2-4a36-936b-eac0f2b0c5f2', 22.0000, 0, 2, NULL)
INSERT [dbo].[Factures] ([NumFacture], [DateFacture], [CodeClient], [TotalFacture], [Archive], [Etat], [RappelEnvoye]) VALUES (N'2bfc7fbd-f31f-4526-960c-2d1d83fcf702', CAST(0x0000A39B00A4CB80 AS DateTime), N'9d2f8dd9-c7a7-4446-b05b-371f9d81c06d', 22.0000, 0, 2, NULL)
/****** Object:  Table [dbo].[Baremes]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Baremes](
	[CodeGroupement] [char](3) NOT NULL,
	[DateVigueur] [char](8) NOT NULL,
	[TypeActe] [varchar](4) NOT NULL,
	[Libelle] [varchar](30) NULL,
	[TarifFixe] [money] NOT NULL,
	[TarifMini] [money] NULL,
	[TarifMaxi] [money] NULL,
	[CodeVaccin] [uniqueidentifier] NULL,
	[Archive] [bit] NOT NULL,
 CONSTRAINT [PK_Baremes] PRIMARY KEY NONCLUSTERED 
(
	[CodeGroupement] ASC,
	[DateVigueur] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Baremes] ([CodeGroupement], [DateVigueur], [TypeActe], [Libelle], [TarifFixe], [TarifMini], [TarifMaxi], [CodeVaccin], [Archive]) VALUES (N'103', N'03/01/14', N'VACC', N'Vaccination DT', 10.0000, NULL, NULL, N'd600b143-f685-4b9c-ba47-6fe842a62d82', 0)
INSERT [dbo].[Baremes] ([CodeGroupement], [DateVigueur], [TypeActe], [Libelle], [TarifFixe], [TarifMini], [TarifMaxi], [CodeVaccin], [Archive]) VALUES (N'104', N'03/01/14', N'VACC', N'Vaccination vache folle', 13.0000, NULL, NULL, N'de1d881e-1254-4ddc-97b0-8ff3e4767c46', 0)
INSERT [dbo].[Baremes] ([CodeGroupement], [DateVigueur], [TypeActe], [Libelle], [TarifFixe], [TarifMini], [TarifMaxi], [CodeVaccin], [Archive]) VALUES (N'105', N'03/01/14', N'VACC', N'Vaccination rage', 22.0000, NULL, NULL, N'1578360b-a7cd-4fa1-98c4-9803a031c2aa', 0)
/****** Object:  Table [dbo].[Animaux]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Animaux](
	[CodeAnimal] [uniqueidentifier] NOT NULL,
	[NomAnimal] [varchar](30) NOT NULL,
	[Sexe] [char](1) NOT NULL,
	[Couleur] [varchar](20) NULL,
	[Race] [varchar](20) NOT NULL,
	[Espece] [varchar](20) NOT NULL,
	[CodeClient] [uniqueidentifier] NOT NULL,
	[Tatouage] [varchar](10) NULL,
	[Antecedents] [text] NULL,
	[Archive] [bit] NOT NULL,
 CONSTRAINT [PK_Animaux] PRIMARY KEY NONCLUSTERED 
(
	[CodeAnimal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Animaux] ([CodeAnimal], [NomAnimal], [Sexe], [Couleur], [Race], [Espece], [CodeClient], [Tatouage], [Antecedents], [Archive]) VALUES (N'6b67330c-9724-418e-aefe-c5c18848ee5d', N'Toby', N'M', N'Noir', N'Batard', N'Chien', N'dcef48b7-1460-4ea4-b619-6ae6e5986078', N'', NULL, 0)
INSERT [dbo].[Animaux] ([CodeAnimal], [NomAnimal], [Sexe], [Couleur], [Race], [Espece], [CodeClient], [Tatouage], [Antecedents], [Archive]) VALUES (N'82107b46-e306-4a9e-bc4c-ce4c827264dc', N'Kiki', N'M', N'Jaune', N'Batard', N'Chien', N'dcef48b7-1460-4ea4-b619-6ae6e5986078', NULL, NULL, 0)
INSERT [dbo].[Animaux] ([CodeAnimal], [NomAnimal], [Sexe], [Couleur], [Race], [Espece], [CodeClient], [Tatouage], [Antecedents], [Archive]) VALUES (N'0cb32d80-a5c4-43e1-8923-74b7627a28d9', N'Kiki 1/2', N'M', N'Jaune', N'Batard', N'Chien', N'dcef48b7-1460-4ea4-b619-6ae6e5986078', NULL, NULL, 1)
/****** Object:  Table [dbo].[Veterinaires]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Veterinaires](
	[CodeVeto] [uniqueidentifier] NOT NULL,
	[NomVeto] [varchar](30) NOT NULL,
	[Archive] [bit] NOT NULL,
	[RefLogin] [int] NOT NULL,
 CONSTRAINT [PK_Veterinaire] PRIMARY KEY NONCLUSTERED 
(
	[CodeVeto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Veterinaires] ([CodeVeto], [NomVeto], [Archive], [RefLogin]) VALUES (N'0a4e385d-6ad4-4806-9935-2661191429ab', N'BOSAPIN Edmond', 0, 2)
INSERT [dbo].[Veterinaires] ([CodeVeto], [NomVeto], [Archive], [RefLogin]) VALUES (N'044c7923-2c2c-4e61-aa59-0c84015575d6', N'DE CAJOU Benoît', 0, 3)
INSERT [dbo].[Veterinaires] ([CodeVeto], [NomVeto], [Archive], [RefLogin]) VALUES (N'a7ee90d8-a319-4e4a-b592-9e2103448aaa', N'MALALANICH Mélanie', 0, 4)
/****** Object:  Table [dbo].[Agendas]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agendas](
	[CodeVeto] [uniqueidentifier] NOT NULL,
	[DateRdv] [smalldatetime] NOT NULL,
	[CodeAnimal] [uniqueidentifier] NOT NULL,
	[Urgence] [bit] NOT NULL,
 CONSTRAINT [PK_Agendas] PRIMARY KEY NONCLUSTERED 
(
	[CodeVeto] ASC,
	[CodeAnimal] ASC,
	[DateRdv] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agendas] ([CodeVeto], [DateRdv], [CodeAnimal], [Urgence]) VALUES (N'bfbea98d-35ee-43ec-8a2c-c340c6b367af', CAST(0xA4340258 AS SmallDateTime), N'c4b7bbef-3439-468b-9e7c-323fdc380289', 0)
INSERT [dbo].[Agendas] ([CodeVeto], [DateRdv], [CodeAnimal], [Urgence]) VALUES (N'044c7923-2c2c-4e61-aa59-0c84015575d6', CAST(0xA42F0258 AS SmallDateTime), N'508d2873-96fc-4ed0-a4da-310ae021599e', 0)
INSERT [dbo].[Agendas] ([CodeVeto], [DateRdv], [CodeAnimal], [Urgence]) VALUES (N'a7ee90d8-a319-4e4a-b592-9e2103448aaa', CAST(0xA39B0294 AS SmallDateTime), N'30bf24b3-d47a-41ee-8102-c8b39ac26f85', 0)
/****** Object:  Table [dbo].[LignesFactures]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LignesFactures](
	[NumFacture] [uniqueidentifier] NOT NULL,
	[NumLigne] [uniqueidentifier] NOT NULL,
	[CodeGroupement] [char](3) NOT NULL,
	[Prix] [money] NULL,
	[Archive] [bit] NOT NULL,
 CONSTRAINT [PK_LignesFactures] PRIMARY KEY NONCLUSTERED 
(
	[NumFacture] ASC,
	[NumLigne] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LignesFactures] ([NumFacture], [NumLigne], [CodeGroupement], [Prix], [Archive]) VALUES (N'891e88f0-684a-4c7c-bf8d-ac9f5f5f77f5', N'790e026d-cbc8-4712-8547-7f74644dab3d', N'105', 22.0000, 0)
INSERT [dbo].[LignesFactures] ([NumFacture], [NumLigne], [CodeGroupement], [Prix], [Archive]) VALUES (N'4c722da4-996f-4d67-b765-dc5f00766b8b', N'001e3bbe-fa64-4442-911b-bbc0dec2c350', N'105', 22.0000, 0)
INSERT [dbo].[LignesFactures] ([NumFacture], [NumLigne], [CodeGroupement], [Prix], [Archive]) VALUES (N'2bfc7fbd-f31f-4526-960c-2d1d83fcf702', N'e1476e00-8125-40db-8123-2d01879439cb', N'105', 22.0000, 0)
/****** Object:  StoredProcedure [dbo].[ajout_veterinaire]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'un veterinaire       ****************************/
/***************************************************************************************/
/* nom du veterinaire
*/
CREATE PROCEDURE [dbo].[ajout_veterinaire] 
	@nomveto varchar(30),
	@archive int,
	@reflogin int
 AS
insert into veterinaires values(newID(),@nomveto, @archive, @reflogin);
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Consultations](
	[CodeConsultation] [uniqueidentifier] NOT NULL,
	[DateConsultation] [datetime] NOT NULL,
	[CodeVeto] [uniqueidentifier] NOT NULL,
	[CodeAnimal] [uniqueidentifier] NOT NULL,
	[Commentaire] [varchar](50) NULL,
	[Etat] [int] NOT NULL,
	[NumFacture] [uniqueidentifier] NULL,
	[Archive] [bit] NOT NULL,
 CONSTRAINT [PK_Consultations] PRIMARY KEY NONCLUSTERED 
(
	[CodeConsultation] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Consultations] ([CodeConsultation], [DateConsultation], [CodeVeto], [CodeAnimal], [Commentaire], [Etat], [NumFacture], [Archive]) VALUES (N'1c6d8eb3-6830-445c-88b1-efa9547c4818', CAST(0x0000A43400A4CB80 AS DateTime), N'bfbea98d-35ee-43ec-8a2c-c340c6b367af', N'c4b7bbef-3439-468b-9e7c-323fdc380289', NULL, 0, NULL, 0)
INSERT [dbo].[Consultations] ([CodeConsultation], [DateConsultation], [CodeVeto], [CodeAnimal], [Commentaire], [Etat], [NumFacture], [Archive]) VALUES (N'5f36b546-6a06-47c3-a83e-904697fde817', CAST(0x0000A42F00A4CB80 AS DateTime), N'044c7923-2c2c-4e61-aa59-0c84015575d6', N'508d2873-96fc-4ed0-a4da-310ae021599e', N'consultation enregistree le 29/01/2015', 2, N'891e88f0-684a-4c7c-bf8d-ac9f5f5f77f5', 0)
INSERT [dbo].[Consultations] ([CodeConsultation], [DateConsultation], [CodeVeto], [CodeAnimal], [Commentaire], [Etat], [NumFacture], [Archive]) VALUES (N'380eef0b-adb0-420b-a3e1-1b17b4272ee8', CAST(0x0000A4160107AC00 AS DateTime), N'044c7923-2c2c-4e61-aa59-0c84015575d6', N'b1fde826-3153-4010-8942-92d68b02d32d', N'consultation enregistree le 04/01/2015', 2, N'41d9d7ac-33ac-40a7-864b-2998a1a15ce8', 0)
/****** Object:  StoredProcedure [dbo].[ajout_bareme]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'un bareme       *********************************/
/******************* dans le cas d'un vaccin il doit etre cree avant *******************/
/***************************************************************************************/
/*	code groupement
	date de vigueur
	type d'acte
	libelle
	tarif fixe
	tarif maxi
	tarif mini
	nom du vaccin
*/
CREATE PROCEDURE [dbo].[ajout_bareme] 	
	@codegroupement char(3),
	@datevigueur char(8),
	@typeacte char(4),
	@libelle char(30),
	@tfixe money,
	@tmini money,
	@tmaxi money,
	@codevaccin uniqueidentifier
 AS
insert into baremes values(@codegroupement,@datevigueur,@typeacte,@libelle,@tfixe,@tmini,@tmaxi,@codevaccin,0);
GO
/****** Object:  StoredProcedure [dbo].[ajout_animal]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'un animal       *********************************/
/**************** le client et le couple race/espece doivent etre cree avant    ********/
/***************************************************************************************/
/*	nom client
	prenom client
	nom animal
	sexe
	couleur
	espece
	race
	archive
*/
CREATE PROCEDURE  [dbo].[ajout_animal] 
	@nomclient varchar(20),
	@prenomclient varchar(20),
	@nomani varchar(30),
	@sexe char(1),
	@couleur varchar(20),
	@espece varchar(20),
	@race varchar(20),
	@tatouage varchar(10),
	@archive int
 AS
declare @cc uniqueidentifier
select @cc=codeclient from clients where nomclient=@nomclient and prenomclient=@prenomclient;
insert into animaux (CodeAnimal,nomanimal,sexe,couleur,espece,race,codeclient,tatouage, archive) values(newid(),@nomani,@sexe,@couleur,@espece,@race,@cc,@tatouage, @archive);
GO
/****** Object:  StoredProcedure [dbo].[ajout_agenda]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'un rendez vous      *****************************/
/******************* le client animal et veto doivent etre crees avant *****************/
/***************************************************************************************/
/*	nom du client
	prenom du client
	nom de l'animal
	nom du veto
	date du rendez vous
*/
CREATE PROCEDURE [dbo].[ajout_agenda] 
	@nomclient varchar(20),
	@prenomclient varchar(20),
	@nomanimal varchar(30),
	@nomveto varchar(30),
	@daterdv datetime,
	@urgence bit
 AS
declare @cc uniqueidentifier --code client
declare @ca uniqueidentifier --code animal
declare @cv uniqueidentifier --code vétérinaire

select @cc=codeclient from clients where nomclient=@nomclient and prenomclient=@prenomclient;
select @ca=codeanimal from animaux where nomanimal=@nomanimal and codeclient=@cc;
select @cv=codeveto from veterinaires where nomveto=@nomveto;
insert into agendas (codeveto,codeanimal,daterdv, Urgence) values(@cv,@ca,@daterdv, @urgence);
GO
/****** Object:  Table [dbo].[LignesConsultations]    Script Date: 02/11/2015 17:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LignesConsultations](
	[CodeConsultation] [uniqueidentifier] NOT NULL,
	[NumLigne] [uniqueidentifier] NOT NULL,
	[CodeGroupement] [char](3) NOT NULL,
	[DateVigueur] [char](8) NULL,
	[Prix] [money] NOT NULL,
	[RappelEnvoye] [bit] NOT NULL,
	[Archive] [bit] NOT NULL,
 CONSTRAINT [PK_LignesConsultations] PRIMARY KEY NONCLUSTERED 
(
	[CodeConsultation] ASC,
	[NumLigne] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LignesConsultations] ([CodeConsultation], [NumLigne], [CodeGroupement], [DateVigueur], [Prix], [RappelEnvoye], [Archive]) VALUES (N'1c6d8eb3-6830-445c-88b1-efa9547c4818', N'465417a0-0ae5-4d46-9b95-89e706ad90d6', N'080', N'03/08/14', 29.0000, 0, 0)
INSERT [dbo].[LignesConsultations] ([CodeConsultation], [NumLigne], [CodeGroupement], [DateVigueur], [Prix], [RappelEnvoye], [Archive]) VALUES (N'5f36b546-6a06-47c3-a83e-904697fde817', N'790e026d-cbc8-4712-8547-7f74644dab3d', N'105', N'03/01/14', 22.0000, 0, 0)
INSERT [dbo].[LignesConsultations] ([CodeConsultation], [NumLigne], [CodeGroupement], [DateVigueur], [Prix], [RappelEnvoye], [Archive]) VALUES (N'380eef0b-adb0-420b-a3e1-1b17b4272ee8', N'f6ba1843-0d75-4f72-bd94-9aa0658914bc', N'080', N'03/08/14', 29.0000, 0, 0)
/****** Object:  StoredProcedure [dbo].[ajout_consultation]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ajout_consultation] 
	@dateconsultation datetime,
	@codeVeto uniqueidentifier,
	@codeAnimal uniqueidentifier,
	@commentaire varchar(50)	
AS
BEGIN
	DECLARE @idConsult uniqueidentifier
	SET @idConsult = newid();
	INSERT INTO consultations (CodeConsultation, dateconsultation, codeveto, codeanimal, commentaire, etat, archive)
	VALUES(@idConsult, @dateconsultation, @codeVeto, @codeAnimal, @commentaire, 1, 0);
	SELECT @idConsult;	
END
GO
/****** Object:  View [dbo].[VueRelance]    Script Date: 02/11/2015 17:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VueRelance]
AS
SELECT     dbo.LignesConsultations.CodeConsultation, dbo.LignesConsultations.NumLigne, dbo.LignesConsultations.RappelEnvoye, dbo.Animaux.NomAnimal, 
                      dbo.Clients.NomClient, dbo.Clients.PrenomClient, dbo.Vaccins.NomVaccin, dbo.Vaccins.PeriodeValidite, dbo.Baremes.DateVigueur
FROM         dbo.Vaccins INNER JOIN
                      dbo.LignesConsultations INNER JOIN
                      dbo.Baremes ON dbo.LignesConsultations.CodeGroupement = dbo.Baremes.CodeGroupement AND 
                      dbo.LignesConsultations.DateVigueur = dbo.Baremes.DateVigueur ON dbo.Vaccins.CodeVaccin = dbo.Baremes.CodeVaccin INNER JOIN
                      dbo.Consultations ON dbo.LignesConsultations.CodeConsultation = dbo.Consultations.CodeConsultation INNER JOIN
                      dbo.Clients INNER JOIN
                      dbo.Animaux ON dbo.Clients.CodeClient = dbo.Animaux.CodeClient ON dbo.Consultations.CodeAnimal = dbo.Animaux.CodeAnimal
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[13] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "LignesConsultations"
            Begin Extent = 
               Top = 6
               Left = 263
               Bottom = 114
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Vaccins"
            Begin Extent = 
               Top = 192
               Left = 235
               Bottom = 300
               Right = 426
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Animaux"
            Begin Extent = 
               Top = 152
               Left = 739
               Bottom = 260
               Right = 930
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Clients"
            Begin Extent = 
               Top = 209
               Left = 481
               Bottom = 317
               Right = 672
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Baremes"
            Begin Extent = 
               Top = 35
               Left = 13
               Bottom = 143
               Right = 204
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Consultations"
            Begin Extent = 
               Top = 7
               Left = 517
               Bottom = 115
               Right = 708
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VueRelance'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VueRelance'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VueRelance'
GO
/****** Object:  StoredProcedure [dbo].[ajout_facture]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************/
/*******************           Ajout d'une facture      ********************************/
/******************* la consultation doit etre creee avant *****************************/
/***************************************************************************************/
/*  	nom du veto
	nom de l'animal
	date de la consulation
*/
CREATE PROCEDURE [dbo].[ajout_facture]
	@DateFact datetime,
	@nomVeto varchar(30),
	@nomanimal varchar(30),
	@dateConsultation Datetime,
	@etat int
 AS
declare @cv uniqueidentifier
declare @ca uniqueidentifier
declare @cc uniqueidentifier
declare @tc money
declare @cg char(3)
declare @prix money
declare @ccons uniqueidentifier
declare @nf uniqueidentifier
SET @nf = NEWID()

SELECT @cv=codeveto FROM veterinaires WHERE nomveto=@nomVeto
SELECT @ca=codeanimal,@cc=codeclient FROM animaux WHERE nomanimal=@nomAnimal
SELECT @tc=sum(prix),@ccons=consultations.codeconsultation FROM consultations,lignesconsultations 
	WHERE codeveto=@cv and codeanimal=@ca and dateconsultation=@dateConsultation and consultations.codeconsultation=lignesconsultations.codeconsultation group by consultations.codeconsultation

INSERT INTO factures (NumFacture,datefacture,codeclient,totalfacture,archive,etat) VALUES(@nf,@DateFact,@cc,@tc,0,@etat)
SELECT @nf;

INSERT INTO lignesfactures (numfacture,numligne,codegroupement,prix,archive)(SELECT @nf,numligne,codegroupement,prix,0 FROM lignesconsultations WHERE codeconsultation=@ccons)
/*Met à jour la consultation correspondante en  lui attribuant le n° de la facture créée */
UPDATE consultations SET numfacture=@nf WHERE codeconsultation=@ccons
UPDATE consultations SET etat=2 WHERE codeconsultation=@ccons
GO
/****** Object:  StoredProcedure [dbo].[ajout_consultation3]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************************/
/*******************           Ajout d'une consultation d'une ligne + vaccin facturée    *********/
/*******************           le rendez vous doit etre cree avant                   *************/
/*************************************************************************************************/
/*	date de la consultation
	nom du veterinaire
	nom de l'animal
	etat
*/
CREATE PROCEDURE  [dbo].[ajout_consultation3] 
	@dateconsultation datetime,
	@nomveto varchar(30),
	@nomanimal varchar(30)
 AS
declare @cv uniqueidentifier
declare @ca uniqueidentifier
declare @dv char(8)
declare @cc uniqueidentifier
set @cc=newid()
select @cv=codeveto from veterinaires where nomveto=@nomveto
select @ca=codeanimal from animaux where nomanimal=@nomanimal 
select @dv=datevigueur from baremes where codegroupement='105' and archive=0

insert into consultations (CodeConsultation,dateconsultation,codeveto,codeanimal,commentaire,etat,archive)
values(@cc,@dateconsultation,@cv,@ca, 'consultation enregistree le ' + convert(char(10),@dateconsultation,103),2,0)


insert into lignesconsultations(codeconsultation,numligne,codegroupement,datevigueur,prix,archive,rappelenvoye)
values (@cc,newid(),'105',@dv,22,0,0)
GO
/****** Object:  StoredProcedure [dbo].[ajout_consultation2]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************************/
/****************           Ajout d'une consultation de deux lignes terminée, non facturée        *************/
/****************           le rendez vous doit etre cree avant                        ************************/
/**************************************************************************************************************/
/*	date de la consultation
	nom du veterinaire
	nom de l'animal
	etat
*/
CREATE PROCEDURE  [dbo].[ajout_consultation2] 
	@dateconsultation datetime,
	@nomveto varchar(30),
	@nomanimal varchar(30)
 AS
declare @cv uniqueidentifier
declare @ca uniqueidentifier
declare @dv char(8)
declare @cc uniqueidentifier
set @cc=newid()
select @cv=codeveto from veterinaires where nomveto=@nomveto
select @ca=codeanimal from animaux where nomanimal=@nomanimal 


insert into consultations (CodeConsultation,dateconsultation,codeveto,codeanimal,commentaire,etat,archive) 
values(@cc,@dateconsultation,@cv,@ca, 'consultation enregistree le ' + convert(char(10),@dateconsultation,103),1,0)

select @dv=datevigueur from baremes where codegroupement='080' and archive=0
insert into lignesconsultations(codeconsultation,numligne,codegroupement,datevigueur,prix,archive,rappelenvoye)
values (@cc,newid(),'080',@dv,29,0,0)
select @dv=datevigueur from baremes where codegroupement='012' and archive=0
insert into lignesconsultations(codeconsultation,numligne,codegroupement,datevigueur,prix,archive,rappelenvoye)
values (@cc,newid(),'012',@dv,30,0,0)
GO
/****** Object:  StoredProcedure [dbo].[ajout_consultation1]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************************/
/*******************           Ajout d'une consultation en cours d'une ligne        *************/
/*******************           le rendez vous doit etre cree avant                  *************/
/************************************************************************************************/
/*	date de la consultation
	nom du veterinaire
	nom de l'animal
	etat
*/
CREATE PROCEDURE  [dbo].[ajout_consultation1] 
	@dateconsultation datetime,
	@nomveto varchar(30),
	@nomanimal varchar(30)
 AS
declare @cv uniqueidentifier
declare @ca uniqueidentifier
declare @dv char(8)
declare @cc uniqueidentifier
set @cc=newid()
select @cv=codeveto from veterinaires where nomveto=@nomveto
select @ca=codeanimal from animaux where nomanimal=@nomanimal 
select @dv=datevigueur from baremes where codegroupement='080' and archive=0

insert into consultations (CodeConsultation,dateconsultation,codeveto,codeanimal,commentaire,etat,archive)
values(@cc,@dateconsultation,@cv,@ca,null,0,0)


insert into lignesconsultations(codeconsultation,numligne,codegroupement,datevigueur,prix,archive,rappelenvoye)
values (@cc,newid(),'080',@dv,29,0,0)
GO
/****** Object:  StoredProcedure [dbo].[ajout_acte]    Script Date: 02/11/2015 17:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ajout_acte] 
	@codeConsultation uniqueidentifier,
	@codeGroupement char(3),
	@datevigueur char(8),
	@prix money
AS
BEGIN
	DECLARE @numLigne uniqueidentifier
	SET @numLigne = newid();
	INSERT INTO LignesConsultations(CodeConsultation, NumLigne, CodeGroupement, DateVigueur, Prix, RappelEnvoye, Archive)
	VALUES(@codeConsultation, @numLigne, @codeGroupement, @datevigueur, @prix, 0, 0);
END
GO
/****** Object:  Default [DF_Agendas_Urgence]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Agendas] ADD  CONSTRAINT [DF_Agendas_Urgence]  DEFAULT ((0)) FOR [Urgence]
GO
/****** Object:  Default [DF__Veterinai__RefLo__4F7CD00D]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Veterinaires] ADD  DEFAULT ((1)) FOR [RefLogin]
GO
/****** Object:  ForeignKey [FK_Agendas]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Agendas]  WITH CHECK ADD  CONSTRAINT [FK_Agendas] FOREIGN KEY([CodeAnimal])
REFERENCES [dbo].[Animaux] ([CodeAnimal])
GO
ALTER TABLE [dbo].[Agendas] CHECK CONSTRAINT [FK_Agendas]
GO
/****** Object:  ForeignKey [FK_Animaux]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Animaux]  WITH CHECK ADD  CONSTRAINT [FK_Animaux] FOREIGN KEY([CodeClient])
REFERENCES [dbo].[Clients] ([CodeClient])
GO
ALTER TABLE [dbo].[Animaux] CHECK CONSTRAINT [FK_Animaux]
GO
/****** Object:  ForeignKey [FK_ANIMAUX_RACES]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Animaux]  WITH CHECK ADD  CONSTRAINT [FK_ANIMAUX_RACES] FOREIGN KEY([Race], [Espece])
REFERENCES [dbo].[Races] ([Race], [Espece])
GO
ALTER TABLE [dbo].[Animaux] CHECK CONSTRAINT [FK_ANIMAUX_RACES]
GO
/****** Object:  ForeignKey [FK_Baremes]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Baremes]  WITH CHECK ADD  CONSTRAINT [FK_Baremes] FOREIGN KEY([CodeVaccin])
REFERENCES [dbo].[Vaccins] ([CodeVaccin])
GO
ALTER TABLE [dbo].[Baremes] CHECK CONSTRAINT [FK_Baremes]
GO
/****** Object:  ForeignKey [FK_Consultations_Animaux]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Animaux] FOREIGN KEY([CodeAnimal])
REFERENCES [dbo].[Animaux] ([CodeAnimal])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Animaux]
GO
/****** Object:  ForeignKey [FK_Consultations_Factures]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Factures] FOREIGN KEY([NumFacture])
REFERENCES [dbo].[Factures] ([NumFacture])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Factures]
GO
/****** Object:  ForeignKey [FK_Consultations_Veterinaires]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Veterinaires] FOREIGN KEY([CodeVeto])
REFERENCES [dbo].[Veterinaires] ([CodeVeto])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Veterinaires]
GO
/****** Object:  ForeignKey [FK_Factures_clients]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Factures]  WITH CHECK ADD  CONSTRAINT [FK_Factures_clients] FOREIGN KEY([CodeClient])
REFERENCES [dbo].[Clients] ([CodeClient])
GO
ALTER TABLE [dbo].[Factures] CHECK CONSTRAINT [FK_Factures_clients]
GO
/****** Object:  ForeignKey [FK_LignesConsultations_baremes]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[LignesConsultations]  WITH CHECK ADD  CONSTRAINT [FK_LignesConsultations_baremes] FOREIGN KEY([CodeGroupement], [DateVigueur])
REFERENCES [dbo].[Baremes] ([CodeGroupement], [DateVigueur])
GO
ALTER TABLE [dbo].[LignesConsultations] CHECK CONSTRAINT [FK_LignesConsultations_baremes]
GO
/****** Object:  ForeignKey [FK_LignesConsultations_Consultations]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[LignesConsultations]  WITH CHECK ADD  CONSTRAINT [FK_LignesConsultations_Consultations] FOREIGN KEY([CodeConsultation])
REFERENCES [dbo].[Consultations] ([CodeConsultation])
GO
ALTER TABLE [dbo].[LignesConsultations] CHECK CONSTRAINT [FK_LignesConsultations_Consultations]
GO
/****** Object:  ForeignKey [FK_LignesFactures_facture]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[LignesFactures]  WITH CHECK ADD  CONSTRAINT [FK_LignesFactures_facture] FOREIGN KEY([NumFacture])
REFERENCES [dbo].[Factures] ([NumFacture])
GO
ALTER TABLE [dbo].[LignesFactures] CHECK CONSTRAINT [FK_LignesFactures_facture]
GO
/****** Object:  ForeignKey [fk_Veterinaires_Login]    Script Date: 02/11/2015 17:23:30 ******/
ALTER TABLE [dbo].[Veterinaires]  WITH CHECK ADD  CONSTRAINT [fk_Veterinaires_Login] FOREIGN KEY([RefLogin])
REFERENCES [dbo].[Logins] ([ID])
GO
ALTER TABLE [dbo].[Veterinaires] CHECK CONSTRAINT [fk_Veterinaires_Login]
GO
